/* Ribbon Usage:
<div class="corner-ribbon top-right sticky blue">Premium</div>
*/

/* Ribbon Base */
.corner-ribbon{
  width: 150px;
  background: #e43;
  position: absolute;
  top: 20px;
  left: -50px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-weight: bold;
  font-size: .6em;
}
/* Ribbon Custom Styles */
.corner-ribbon.sticky{
  position: fixed;
}
/* Ribbon Position */
.corner-ribbon.top-right{
  top: 25px;
  right: -40px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Ribbon Colors */
.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

a {
    background: transparent;
    color: #cacaca;
}

.comment-count,
.byline .comment-count {
    display: inline-block;
    font: bold 13px/20px Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    color: #e05e00 !important;
}

.podcast-player .player {
    color: #aaa;
    height: 50px;
    font: bold 18px Arial, Helvetica, sans-serif;
    padding: 0;
    position: relative;
    background: #ffb732;
}

.js-needs-comment-count,
.byline .btn {
  color: #000 !important;
}

article.spread .author {
    font: italic 25px / 1.4 Georgia, Cambria, "Times New Roman", Times, serif;
    color: #e05e00;
}

.header-sitenav .subscribe a {
    color: #39d !important;
}

.publishable .byline {
    display: block;
    margin: 10px 0 20px;
    color: #e05e00 !important;
}