/* Ribbon Usage:
<div class="corner-ribbon top-right sticky blue">Premium</div>
*/

/* Ribbon Base */
.corner-ribbon{
  overflow: hidden;
  width: 150px;
  background: #39d;
  position: absolute;
  top: 20px;
  left: -50px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-weight: bold;
  top: 25px;
  right: -40px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

a {
    background: transparent;
    color: #cacaca;
}

.comment-count,
.byline .comment-count {
    display: inline-block;
    font: bold 13px/20px Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    color: #39d !important;
}

.podcast-player .player {
    color: #aaa;
    height: 50px;
    font: bold 18px Arial, Helvetica, sans-serif;
    padding: 0;
    position: relative;
    background: #808080;
}

/* .js-needs-comment-count,
.byline .btn {
  color: #000 !important;
} */

article.spread .author {
    font: italic 25px / 1.4 Georgia, Cambria, "Times New Roman", Times, serif;
    color: #39d;
}

.header-sitenav .subscribe a {
    color: #39d !important;
}

.publishable .byline {
    display: block;
    margin: 10px 0 20px;
    color: #39d !important;
}

.title {
    color: #cacaca;
}

.publishable {
    background: #424242 !important;
    overflow: hidden;
}

.well{
    background: #424242 !important;
}

.parchment-content,
.description {
    color: #f1f1f1 !important;
}

a.username {
    color: #ffffff !important;
}

time,
time a,
.board,
.topic-info,
.forum-topics-browse h1,
.cell-name,
a[href*="/profile"],
a[href="?using=last_commented"],
a[href="?using=most_viewed"],
a[href="?using=most_commented"],
.cell-count .views,
.forum-thread-header,
.forum-thread-header > .started {
    color: #ffffff !important;
}

/* a[href*="/forums"] {
    color: #ffb732;
} */

a[href*="/forums"] {
    color: #4db8ff;
}

.btn,
button[type='submit'] {
    box-shadow: -3px 3px 0 #999999, -2px 2px #999999, -1px 1px 0 #999999 !important;
    -moz-box-shadow: -3px 3px 0 #999999, -2px 2px #999999, -1px 1px 0 #999999 !important;
    -ms-box-shadow: -3px 3px 0 #999999, -2px 2px #999999, -1px 1px 0 #999999 !important;
    -o-box-shadow: -3px 3px 0 #999999, -2px 2px #999999, -1px 1px 0 #999999 !important;
    -webkit-box-shadow: -3px 3px 0 #999999, -2px 2px #999999, -1px 1px 0 #999999 !important;
    background: #808080 !important;
    border: 0;
    color: white;
    cursor: pointer;
    font: 20px/1em "FontSite Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    padding: 5px 10px;
    text-transform: uppercase
}

.comment-count:before {
    background: rgba(0,0,0,0) !important;
}

.create-topic {
    color: #fff !important;
}

.podcast-player .ui-slider-handle {
    border: 8px solid #fff !important;
}

.header-search label {
    color: #39d !important;
}

a[href="/podcast/"] {
    color: #4db8ff !important
}

.featured-publishable-podcast .author,
.featured-publishable-podcast .title a {
    color: #fff !important;
}

.tabs .on a {
    color: #39d !important;
}

.comments-wrap .well-subheader {
    background: #4db8ff !important;
    color: #fff;
    margin-left: 5px;
}

.aside-contact {
    color: #4db8ff !important;
}

.header-social {
    float: left !important;
}

td.cell-count {
    color: #fff !important;
}

[for="id_title"],
[for="id_category"] {
    color: #39d !important;
}